@{
    ViewData["Title"] = "Discos";
}

<header>
<h1>Rami y Lu "El mejor Grupo"</h1>
     <img src="/Images/LOGO.png" alt="Logo">
     </header>
<main>
<div>
    
     @foreach (Disco disco in ViewBag.Discos.Values) 
     {
        <article>
        <img src = "@disco.foto" alt = "Potada">
       <p>El nombre del disco es @disco.nombreAlbum</p>
       </article>
       <a href = '@Url.Action("infoDisco", new{ID=@disco.ID})' alt = "Ir a datos del disco"> Ir los datos del disco</a>
        
     } 
     
</div>

