@{
    ViewData["Title"] = "Discos";
}


<main>
<div>
    
     @foreach (Disco disco in ViewBag.Discos.Values) 
     {
        <article>
        <img src = "@disco.foto" alt = "Portada" width="300" height="auto">
       <p>@disco.nombreAlbum</p>
       </article>
       <a href = '@Url.Action("infoDisco", new{id=@disco.ID})' alt = "Ir a datos del disco"> Ir los datos del disco</a>
        
     } 
     
</div>

