@foreach(Artista artista in ViewBag.infoArtista)
{
    
    <p> Nombre: @artista.Nombre  </p>
    <p>DNI: @artista.DNI	</p>    
    <p>   </p>
}
<a href = "http://localhost:5088/">Volver a la página principal </a>