@foreach(Productor productor in ViewBag.infoProductor)
{
    
    <p> Nombre: @productor.Nombre  </p>
    <p>DNI: @productor.DNI	</p>    
    <p>   </p>
}
<a href = "http://localhost:5088/">Volver a la página principal </a>