@foreach(Cancion cancion in ViewBag.infoCanciones)
{
    
    <p> Nombre: @cancion.Nombre  </p>
    <p>duracion: @cancion.duracion	</p>    
    <p>   </p>
}
<a href = "http://localhost:5088/">Volver a la página principal </a>