html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  background-color: #212222;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #212222;
  border-top: 1px solid #e9ecef;
  clear: both;
}

h1, h3, h4, p, li {
  color: #d89f34;
  
}
h1, h3, h4, li {
  text-align: center;
  
}

main div article{
  float: left;
  padding: 2%;
}

a {
  color: #d89f34;
}

section img {
  margin-left: 40%;

}

